.two-chars {
  text-overflow: clip;
  width: calc(2ch - 2px);
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row-reverse;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

.nls-invalid {
  border-color: #ef4444;
  color: #ef4444;
}

.banner-image {
  margin-top: 4rem;
  margin-bottom: 0;
}

.transparent-text {
  color: transparent;
  font-size: 0;
}

h2.has-background.job-fair-banner-title {
  position: relative;
  margin-bottom: -1.25em !important;
  padding: 0.5em 2em;
  z-index: 100;
}

li.social {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}

li.social > a {
  padding-inline-start: 0.5rem;
}

li.social > span.social-icon {
  min-width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

li.social > span.social-icon > a {
  font-size: 1px;
  padding: 16px;
  position: absolute;
}

li.social.he {
  flex-direction: row-reverse;
}

li.transparent-text {
  background-position-x: center;
  padding-inline-start: 0;
}

.fb-circle-blue span.social-icon {
  background: url("../images/fb_circle_blue.svg") no-repeat;
}

.fb-circle-white span.social-icon {
  background: url("../images/fb_circle_white.svg") no-repeat;
}
.in-circle-blue span.social-icon {
  background: url("../images/in_circle_blue.svg") no-repeat;
}

.in-circle-white span.social-icon {
  background: url("../images/in_circle_white.svg") no-repeat;
}
.mail-circle-blue span.social-icon {
  background: url("../images/mail_circle_blue.svg") no-repeat;
}

.mail-circle-white span.social-icon {
  background: url("../images/mail_circle_white.svg") no-repeat;
}

.logo-image-wrapper {
  max-width: 96px;
  max-height: 96px;
  min-width: 96px;
  min-height: 96px;
}

.logo-image-wrapper > img {
  max-width: 56px;
}

.sm-logo-image-wrapper {
  max-width: 56px;
  max-height: 56px;
  min-width: 56px;
  min-height: 56px;
}

.sm-logo-image-wrapper > img {
  max-width: 32px;
}
/* Responsive design */
@media (min-width: 768px) {
  .rtl h2.has-background.job-fair-banner-title {
    margin-right: -1em !important;
  }

  h2.has-background.job-fair-banner-title {
    margin-left: -1em !important;
  }

  .logo-image-wrapper {
    max-width: 144px;
    max-height: 144px;
    min-width: 144px;
    min-height: 144px;
  }

  .logo-image-wrapper > img {
    max-width: 92px;
  }

  .sm-logo-image-wrapper {
    max-width: 96px;
    max-height: 96px;
    min-width: 96px;
    min-height: 96px;
  }

  .sm-logo-image-wrapper > img {
    max-width: 56px;
  }
}

@media (max-width: 767.9px) {
  h2.has-background.job-fair-banner-title {
    font-size: 1.25rem !important;
  }
}
